/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Common */
body {
    font-family: "Montserrat", serif;
    height: 100vh;
    background-color: #10131a;
}

/* main */

.main-content {
    height: calc(100% - 90px);
    background-color: #151922;
    display: flex;
    color: white;
}

/* sidebar */

.main-content .sidebar {
    background-color: #000000;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.main-content .sidebar #logo {
    padding: 0 20px;
}

.main-content .sidebar #logo .logo {
    width: 30px;
    height: 30px;
    margin-left: 13px;
}

.main-content .sidebar #logo .logo-spotify {
    display: none;
}

.main-content .sidebar #menu {
    padding: 20px 10px;
}

.main-content .sidebar #menu li {
    margin-bottom: 10px;
}

.main-content .sidebar #menu li a {
    color: #ffff;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    opacity: 0.7;
}

.main-content .sidebar #menu li a .title-info {
    display: none;
}


.main-content .sidebar #menu li a img {
    width: 25px;
}

.main-content .sidebar #playlist {
    color: #ffff;
    margin-left: 12px;

}

.main-content .sidebar #playlist li a {
    display: none;
}

.main-content .sidebar #playlist li a .title-info {
    display: none;
}


.main-content .sidebar #profilo a img {
    width: 30px;
    color: #ffff;
    opacity: 0.7;
}


.main-content .sidebar #profilo {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.main-content .sidebar #profilo .title-info {
    display: none;
}

main {
    width: calc(100% - 230px);
    background-color: #151922;
    overflow-y: auto;
}


.main-content main .top-main {
   
    background-color: #10131a;
}


.top-main {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade-btn {
    margin-top: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 220px;
    padding: 15px 15px 15px 35px;
    font-weight: bold;
    text-align: center;
    border-radius: 35px;
    cursor: pointer;
}


.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}

.menu-content ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.menu-content ul li {
    margin-right: 15px;
    cursor: pointer;
}


.album-grid,
.playlist-grid,
.artist-grid  {
    display: flex;
    width: calc((100% - 50px) / 6);
}

.album,
.playlist,
.artist {
    padding: 15px;
    text-align: center;
}





footer {
    height: 90px;
    background-color: #5c5c5c;
}

/* desktop */
@media (min-width: 992px) {
    .main-content .sidebar {
        width: 230px;
    }

    .main-content .sidebar #logo .logo {
        display: none;
    }

    .main-content .sidebar #logo .logo-spotify {
        display: inline;
        width: 130px;
    }

    .main-content .sidebar #menu li a {
        justify-content: flex-start;
    }

    .main-content .sidebar #menu li a .title-info {
        display: inline;
    }

    .main-content .sidebar #playlist li a .title-info {
        display: inline;
        color: #ffff;
        opacity: 0.7;
        gap: 5px;
    }

    .main-content .sidebar #playlist li a {
        display: flex;
        align-items: center;
        color: #5c5c5c;
        margin-top: 10px;
        
    }

    .main-content .sidebar #playlist li a i {
        font-size: 30px;
        margin-right: 5px;
    }

    .main-content .sidebar #profilo .title-info {
        display: inline;
        color: #5c5c5c;
    }

    .main-content .sidebar #profilo {
        margin-top: auto;
        display: flex;
        gap: 15px;
        flex-direction: column;

    }



}